.bits-img {
    border: 5px solid gold;
}

.icon {
    font-size: 20px;
    color: gold;
}

.header-fontsize {
    font-size: 10px;
}

h3 {
    border-left: 10px solid gold;
    padding-left: 10px;
}

.body {
    width: 1200px;
}
